.skills__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.skills {
    background: transparent;
    border-radius: 0 0 2rem 2rem;
    border: 1px solid #fadcdc;
    height: fit-content;
    transition: all 400ms ease;   
}

.skills__head {
    background: #f7d7d7;
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0,0,0,0.1);
}

.skills__head h3 {
    font-size: 1rem;
    text-align: center;
}

.skills__list {
    padding: 2rem;
}

.skills__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    margin-top: 2px;
}

.service__list p {
    font-size: 0.9rem;
}

/*Media queries*/
@media screen and (max-width: 1024px) {
    .skills__container {
        gap: 2rem;
    }

    .skills {
        height: auto;
    }
  }
  
@media screen and (max-width: 600px) {
    .skills__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
  }